* {
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 60px;
    height: 97vh;
  }
  
  #mainHeader {
    background: #838181;
    color: #fff;
  }
  
  .grid-b {
    display: grid;
    padding: 15px 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr;
  }
  
  #mainNav {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(4, 5vw);
  }
  
  .search-form {
    display: flex;
    width: 300px;
    height: 32px;
  }
  .search-form .input-wrap {
    flex: 1 0 auto;
  }
  .search-form .input-wrap input {
    width: 100%;
    height: 100%;
  }
  .search-form .submit-btn {
    flex-basis: auto;
  }
  
  main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-auto-flow: dense;
  }
  
  .article {
    grid-column: 2;
    padding-left: 1vw;
  }
  
  .news {
    padding-right: 1vw;
    border-right: 1px solid #838181;
    grid-column: 1;
  }
  
  #mainFoter {
    border: 1px solid grey;
    padding: 10px;
    background: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  #footerNav a:not(:last-child) {
    margin-right: 12px;
  }
  
  .links-label {
    margin-bottom: 4px;
  }
  
  .related-articles {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 160px);
  }
  